<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DES222</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
  <div class="main-container">
    <div class="banner" id="banner">
      <div class="banner-title">Tune Scape</div>
      <div class="banner-subtitle"></div>
    </div>

    <button type="button" onclick="nextsong()">Next Song</button>

    <audio controls id="player">
        <source id='song' src="../static/Music/SunshineCoast/On and on.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
  </div>
  <div hidden id="data">{{ files }}</div>


  <script src="../static/script.js"></script>
 <!-- <h1>File List</h1>
    <ul id="fileList">
        {% for file in subfile %}
            <li>{{ file }}</li>
            <li>{{ subfile[file] }}</li>
        {% endfor %}
    </ul> -->
    
</body>
</html>
  