<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DES222</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
  <div class="main-container">
    <div class="banner" id="banner">
      <div class="banner-title">Tune Scape</div>
      <div class="banner-subtitle"></div>
    </div>

    <button type="button" onclick="nextSong()">Next Song</button>

    <audio controls id="player">
        <source id='song' src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <button type="button" onclick="prevSong()">Previous Song</button>
  </div>
  <div hidden id="data">{{ files }}</div>
  <button type="button" onclick="updateCoord()">Use current location</button>

  <div id="location"></div>
  <div id="songInfo">
    <img id="art" src="">
    <div id="artist"></div>
    <div id="title"></div>
  </div>
  <div id="nextSongInfo">
    <img id="nArt" src="">
    <div id="nArtist"></div>
    <div id="nTitle"></div>
  </div>
  <div id="previousSongInfo">
    <img id="pArt" src="">
    <div id="pArtist"></div>
    <div id="pTitle"></div>
  </div>

  <script src="../static/id3-minimized.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>
  